body {
    font-family: 'Kanit', sans-serif;
    background-color: blueviolet;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
    color: paleturquoise;
    font-weight: bolder;
    font-size: 75px;
    text-shadow:
    -2px -2px 0 purple,
    2px -2px 0 purple, 
    -2px 2px 0 purple, 
    2px 2px 0 purple;
}

button {
    color: black;
    background-color: silver;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
button:hover {
    color: black;
    background-color: paleturquoise;
}

a {
    color: white;
}

a:hover {
    color: paleturquoise;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 150px;
    height: 212px;
    margin: 10px;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.clicked {
    transform: scale(1.1); 
    box-shadow: 0 0 30px paleturquoise;
}

#number-display {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

